*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
body{
    text-align: center;
    background-color: rgb(160, 165, 236);
    margin-top: 20px;
}
.inputN{
    margin-top: 20px;
    font-size: 20px;
}
button{
    margin-top: 20px;
    font-size: 25px;
}
